/* this is a class */
.game {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

/* select element with id, using # */
#miniGame {
    width: 816px;
    height: 386px;
    background-image: url("../images/background.png");
    background-repeat: repeat-x;
    margin: auto;
}

#gamePiece {
    width: 55px;
    height: 55px;
    background-image: url("../images/ghost.png");
    background-repeat: repeat-x;
    position: relative; /* must be positioned so that positional attributes apply */
    top: 330px; /* top of character model, useful for jump mechanics */
    left: 130px;
}

.animate {
    animation: jump 300ms linear; 
}

@keyframes jump {
    /* this will make the top position slide up 50px and then slide back down. */
    0%{top: 284px;}
    30%{top: 250px;}
    70%{top: 250px;}
    100%{top: 284px;}
}

#obstacle {
    width: 79px;
    height: 95px;
    background-image: url("../images/grave.png");
    background-repeat: repeat-x;
    position: fixed;
    top: 310px;
    left: 1235px;
    animation: obstacle 1s infinite linear;
}

@keyframes obstacle {
    0%{left: 1235px;}
    100%{left: 470px;}
}
